
  <h2><%= @restaurant.name %></h2>
  <div class="style">
  <h3><%= @restaurant.address %></h3>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>

  <% @restaurant.reviews.each do |review| %>
<div class="col-xs-12 col-sm-4">
  <p><%= review.content %></p>
  <p><%= review.rating %></p>

</div>
  <% end  %>
  <p><%= link_to "go back", restaurants_path %></p>
</div>

